/* line 4, ../scss/global/_utilities.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 15, ../scss/global/_utilities.scss */
.ir {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 24, ../scss/global/_utilities.scss */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 39, ../scss/global/_utilities.scss */
.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 49, ../scss/global/_utilities.scss */
.stealth-links a {
  color: inherit;
}
/* line 51, ../scss/global/_utilities.scss */
.stealth-links a:hover {
  color: #0000cc;
}

/* line 1, ../scss/global/_layout.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../scss/global/_layout.scss */
body {
  margin: 0;
}

/* line 1, ../scss/global/_typography.scss */
body {
  font-family: serif;
  color: #333;
}

/* line 6, ../scss/global/_typography.scss */
a {
  color: #0000ff;
}
/* line 8, ../scss/global/_typography.scss */
a:hover {
  color: #0000cc;
}

/* line 13, ../scss/global/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}
